<app-titulo [titulo]="'Perfil'"></app-titulo>

<div class="card rounded shadow-sm">

  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                   name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>


      <div class="col-lg-9">
        <div class="row">

          <div class="col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>

          <div class="col-sm-12">
            <label>Título</label>
            <select class="form-control" formControlName="titulo" [ngClass]="funcaoGlobal.cssValidatorForm(titulo)">
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Senhorita">Tecnólogo(a)</option>
              <option value="Senhorita">Bacharel</option>
              <option value="Senhorita">Especialista</option>
              <option value="Senhorita">Pós Graduado(a)</option>
              <option value="Senhorita">Mestre</option>
              <option value="Senhorita">Doutor(a)</option>
              <option value="Senhorita">Pós Doc</option>
            </select>
            <div class="invalid-feedback" *ngIf="titulo?.hasError('required')">
              Selecione o titulo.
            </div>
          </div>

          <div class="col-sm-4">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="primeiroNome" placeholder="Insira o Primeiro nome"
                       [ngClass]="funcaoGlobal.cssValidatorForm(primeiroNome)" />
            <div class="invalid-feedback" *ngIf="primeiroNome?.hasError('required')">
              Primeiro Nome é obrigatório.
            </div>
          </div>

          <div class="col-sm-4">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="ultimoNome" placeholder="Insira o Último nome"
                       [ngClass]="funcaoGlobal.cssValidatorForm(ultimoNome)" />
            <div class="invalid-feedback" *ngIf="ultimoNome?.hasError('required')">
              Ultimo Nome é obrigatório.
            </div>
          </div>

          <div class="col-sm-4">
            <label>Função</label>
            <select class="form-control" formControlName="funcao" [ngClass]="funcaoGlobal.cssValidatorForm(funcao)">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div class="invalid-feedback" *ngIf="titulo?.hasError('required')">
              Selecione uma função.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Insira o Email"
                   [ngClass]="funcaoGlobal.cssValidatorForm(email)" />
            <div class="invalid-feedback" *ngIf="email?.hasError('required')">
              Email é obrigatório.
            </div>
            <div class="invalid-feedback" *ngIf="email?.hasError('email')">
              Email é inválido.
            </div>
          </div>

          <div class="col-sm-6">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="telefone" placeholder="Insira o Telefone"
                   [ngClass]="funcaoGlobal.cssValidatorForm(telefone)" />
            <div class="invalid-feedback" *ngIf="telefone?.hasError('required')">
              Telefone é obrigatório.
            </div>
          </div>
        </div>

        <div class="row">
          <form-group class="col-12">
            <label>Descrição</label>
            <textarea class="form-control" rows="3" maxlength="500" formControlName="descricao" placeholder="Insira a Descrição"
                      [ngClass]="funcaoGlobal.cssValidatorForm(descricao)"></textarea>
            <div class="invalid-feedback" *ngIf="descricao?.hasError('required')">
              Descricao é obrigatório.
            </div>
          </form-group>
        </div>

        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>

        <div class="row">

          <div class="col-sm-6">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="senha" placeholder="Digite uma Senha"
                   [ngClass]="{'is-invalid': senha?.errors && senha?.touched }" />
            <div class="invalid-feedback" *ngIf="senha?.hasError('required')">
              Senha é obrigatório.
            </div>
            <div class="invalid-feedback" *ngIf="senha?.hasError('minlength')">
              Senha deveter no mínimo 6 caracteres.
            </div>
          </div>

          <div class="col-sm-6">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmarSenha" placeholder="Confirme a Senha"
                   [ngClass]="{'is-invalid': confirmarSenha?.errors && confirmarSenha?.touched }" />
            <div class="invalid-feedback" *ngIf="confirmarSenha?.hasError('required')">
              Confirmar Senha é obrigatório.
            </div>
            <div class="invalid-feedback" *ngIf="confirmarSenha?.hasError('mustMatch')">
              Senha não confere.
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card-footer">

      <div class="d-flex">

        <div class="col-md-6">
          <button class="btn btn-outline-secondary mr-auto border">
            Cancelar Alteração
          </button>
        </div>

        <div class="col-md-6">
          <div class="float-end">
            <button class="btn btn-success">
              <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
              Salvar Alteração
            </button>
          </div>
        </div>

      </div>
    </div>
  </form>

</div>
